
.LeftShowBox{
	position: absolute;
    top: 68px;
    left:10px;
    z-index:2012;
    width:260px;
}
/* ������ʾ�� */
.LsBox{
	width:260px;
	height:auto;
	overflow:hidden;
	min-height:20px;
	margin-bottom:10px;
    background:rgba(255,255,255,0.9);   
	filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80ffffff',endColorstr = '#80ffffff')\9;
	-webkitbox-shadow:0px 2px 9px 0 rgba(0,0,0,0.3);
	-moz-box-shadow:0px 2px 9px 0 rgba(0,0,0,0.2);
	-o-box-shadow:0px 2px 9px 0 rgba(0,0,0,0.2);
	box-shadow:0px 2px 9px 0 rgba(0,0,0,0.3);
	position:relative;
	border:1px solid #ccc;
}
.LsBoxClose{
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
    cursor:pointer;
    float:right;
    height:16px;
    width:16px;
    position:absolute;
    right:0px;
    top:0px;
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAATElEQVR4AWMAgYuOjgYMEADjKwCxAIzxH4jnwxQC8XswHyqQAFWwHipxHqQT2ah6qIL3cAk0o+7DrUBYjjAKyYp+mIICqFEwfgDINACymUEHsHjhUAAAAABJRU5ErkJggg==") center 4px no-repeat;
}
.LsBox-con{
	width:100%;
	height:auto;
	overflow:hidden;
}
.LsBox-border{
	border-top:1px solid #dfdfdf;
}
ul.Ls-ul{
	overflow:hidden;
}
.LsBox-con li{
	float:left;
	height:auto;
}
/* ��ʾ���������� */
.LsBox-left{
	background:#f5f7f7;
	width:70px;
	min-height:50px;
	overflow:hidden;
}
.LsBox-right{
	width:190px;
}
.LsBox-left-title{
	width:70px;
	text-align:center;
	line-height:63px;
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
}
.warn-icon{
	position:relative;
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
	height:auto;
	width:70px;
}
.warn-icon img{
	width:66px;
	height:45px;
	margin:2px;
	cursor:pointer;
}
.warn-icon span{
	background:rgba(0,0,0,0.7);   
	filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;
	width:66px;
	height:45px;
	line-height:45px;
	text-align:center;
	cursor:pointer;
	position:absolute;
	color:#fff;
	display:none;
	top:2px;
	left:2px;
}
.warn-icon:hover span{
	display:block;
}

/* ��ʾ���ұ����� */

.Ls-li ul{
	width:auto;
	padding:4px 3px 10px 5px;
	height:auto;
}

.Ls-li ul li{
	width:73px;
    margin: 7px 0 0 6px;
    float: left;
    cursor: pointer;
    min-width: 36px;
    text-align: center;
    border:1px solid #dadada;
}
.Ls-li ul li.showed{
	background:#576985;
	color: #fff;
}
.Ls-li ul li.hided{
	background:#fff;
	color:#999999;
}

/* �澯 */
.LsBox-warn-title{
	font-weight:bold;
	font-size:13px;
	margin-left:5px;
	margin-top:5px;
	color:#323232;
}
.LsBox-warn-title span{
	font-weight:normal;
	color:#414e61;
	margin-left:10px;
}
.LsBox-warn-time{
	color:#707070;
	margin-top:6px;
	margin-left:5px;
}

/* ģ�� */
.LsBox-tl{
	height:24px;
	line-height:24px;
	padding-left:5px;
	color:#414e61;
	font-weight:bold;
}
.simulation-list{
	height:auto;
	overflow:hidden;
	margin:1px;
}
.simulation-list li{
	min-height:26px;
	height:auto;
	overflow:hidden;
	margin-top:1px;
	background:#e0e8f6;
	border-top:1px solid #edf2fa;
    border-bottom: 1px solid #ccc;
	width:100%;
}
.simulation-tl{
	height:26px;
	line-height:26px;
	color:#414e61;
}
.simulation-tl span{
	margin-left:5px;
	font-weight:bold;
}
.simulation-tl a{
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
	float:right;
	height:26px;
	line-height:26px;
	width:40px;
	color:#fff;
	background:#576985;
	text-align:center;
	cursor:pointer;
	letter-spacing:1px;
}
.simulation-tl a:hover{color:#f0a425}
.simulation-tl a.simulation-btn{
	background:#414e61;
}
.simulation-town{
	width:100%;
}
.simulation-town li{
	float:left;
	margin-top:0px;
}
.simulation-town li.simulation-town-left{
	width:218px;
	/* background:#e6eaf1; */
	height:65px;
	padding-top:5px;
	border-bottom:0;
}
.simulation-town li.simulation-town-right{
	width:40px;
}
.simulation-town li.simulation-town-left li{
	height:18px;
	line-height:18px;
	width:48px;
	margin-left:5px;
	background:#d8e1f1;
	float:left;
	margin-bottom:5px;
	text-align:center;
	min-height:auto;
}
.simulation-town li.simulation-town-right a{
	background:#7387a3;
	color:#fff;
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
	width:40px;
	height:34px;
	text-align:center;
	margin-top:1px;
	cursor:pointer;
}
.simulation-town li.simulation-town-right a label{
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
	margin-top:3px;
	line-height:14px;
	cursor:pointer;
}
.simulation-town li.simulation-town-right a:hover{color:#f0a425}

/* �ֺ��澯 */

.dis-warn{
	position:relative;
	width:66px;
	margin-left:2px;
	margin-top:5px;
	line-height:20px;
	text-align:center;
	min-height:36px;
}
.dis-warn span{
	display:block;
}
.dis-warn em{
	position:absolute;
	bottom:3px;
	right:0px;
	width:18px;
	height:16px;
}
.dis-red em{background:url("../img/trunk/warn-icon.png") no-repeat;}
.dis-orange em{background:url("../img/trunk/warn-icon-1.png") no-repeat;}

.LsBox-right p.dis-warn-title{
	margin-top:0px;
}
/* ��ֵ */
.dis-level{
	margin-left:5px;
	min-height:40px;
}
.rain-lg{
	height:64px;
}
.rain-xl{
	/* height:83px; */
}
.dis-level span{
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
	float:left;
	margin-top:19px;
}
.LsBox-right .dis-level div.dis-iphone{
	width:100%;
	float:left;
}
.LsBox-right .dis-level div.dis-iphone span{margin-top:0;}
.LsBox-right .dis-level div.dis-level-color{
	height:3px;
	width:121px;
	background:#ccc;
	float:left;
	margin-top:27px;
	border:1px solid #ccc;
	position:relative;
}
.LsBox-right .dis-level div.dis-level-color ul{
	width:auto;
}
.LsBox-right .dis-level div.dis-level-color li{
	float:left;
	height:5px;
	min-height:auto;
	width:auto;
	margin:0px;
	padding:0;
	position:relative;
}
.LsBox-right .dis-level div.dis-level-color li label{
	position: absolute;
    top: 3px;
    right:-10px;
    color: #a0a0a0;
}
.LsBox-right .dis-level div.dis-level-color li.level-0{
	width:30%;
	background:#ffff00;
}
.LsBox-right .dis-level div.dis-level-color li.level-1{
	width:35%;
	background:#f8aa25;
}
.LsBox-right .dis-level div.dis-level-color li.level-2{
	width:35%;
	background:#ff0000;
}
.LsBox-right .dis-level div.dis-level-color li.level-3{
	width:65%;
	background:#00ff00;
}
.level-now{
	position: absolute;
    top: -10px;
    left:31px;
}
.level-now span{
	position: relative;
    top: -13px;
    left:27px;
    margin-top:0;
    color:#fff;
    height:18px;
    line-height:18px;
    padding:0px 5px;
    text-align:center;
    font-weight:bold;
    display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
.level-now a{
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
	background: url("../img/trunk/top/icon1.png") no-repeat;
	width:11px;
	height:11px;
}
.yellow a{background-position:-1011px -42px;}
.orange a{background-position:-1024px -42px;}
.red a{background-position:-1035px -42px;}
.yellow span{background:#ffff00;color:#27303f}
.orange span{background:#f8aa25}
.red span{background:#ff0000}
.lg-data{
	position: absolute;
    bottom: 0;
    left: 70px;
    width: 190px;
}
.lga-color{
	/* background:#f0a425; */
}
.lg-data span{
	margin-left:5px;
}
.lg-data a{
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
	cursor:pointer;
	background:#576985;
	color:#fff;
	height:20px;
	line-height:20px;
	width:32px;
	float:right;
	text-align:center;
	margin-left:2px;
}
.lg-data a:hover{color:#f0a425}

















