 .toolBarPosition{
	position: absolute;
    top: 10px;
    left: 320px;
    z-index: 999;
 }
 .cityBar{
	width: 75px;
	height: 30px;
	line-height: 30px;
	float: left;
	border: 2px solid #000;
	background-color: #49586B;
}
.cityBar img{
	margin-left: 7px;
}
.toolBar{
	width: auto;
	height: 30px;
	border: 2px solid #000;
	float:left;
	background-color: #49586B;
    color: #fff;
}
.toolBar ul li{
	height: 30px;
	line-height: 30px;
	float: left;
	padding: 0px 3px;
	cursor: pointer;
}
.toolBar ul li div{
	padding: 7px 3px;
}
.citySelect{
	width:386px;
	height:36px;
	position: relative;
    z-index: 990;
}
.caseShow{
	width:325px;
	height:auto;
	border:2px solid #000;
}
.caseShow div ul li{
	float:left;
	width:100%;
	border-bottom: 1px solid #000; 
}
.caseShow div ul li span{
	display:block;
	float:left;
	border-right: 1px solid #000; 
}
.styleChange{
	width: auto; 
	height: 30px;
	float:left;
}
.colorList{
	width:auto;
	height:30px;
	float:left;
	background-color: #DFE4E7;
	border: 2px solid #B3CDDC;
}
.bigColor{
	float:left;
	border: 2px solid #B3CDDC;
	margin:1px 1px;
}
.bigColor div{
	/*background-color:#ed3f2b;*/
	width:24px;
	height:24px;
}
.colorSelect{
	float:left;
}
.colorSelect ul li{
	border: 1px solid #8c8a8a;
	float: left;
	margin: 1px 1px;
}
.colorSelect ul li div{
	width:10px;
	height:10px;
}
.sizeSelect{
	float:left;
	height: 30px;
	background-color: #DFE4E7;
	border: 2px solid #B3CDDC;
	border-right: 1px solid #8A8888;
}
.sizeSelect ul li{
	float: left;
	width:26px;
	height:auto;
}
.sizeSelect ul li div{
	padding: 7px 3px;
	width:16px;
	height:auto;
}
.sizeSelect ul li div img{
	margin-left: 3px;
}
.toolBarDiv{
	display: inline-block;
    width: 100%;
}
.toolBarColor{
    margin-left: 77px;
	position: relative;
    z-index: 999;
}

.documentList{
	width: 203px;
    height: auto;
    border: 1px solid #000;
    float: left;
    margin-left: 300px;
	position: absolute;
	z-index: 999;
}
.documentList ul li span{
    /*float: left;*/
	display: inline-block;
    margin-right: 5px;
}