 .toolBarPosition{
	position: absolute;
    top: 64px;
    left: 36%;
    z-index: 9999;
    /* background:#fff; */
    /* box-shadow:2px 2px 2px 0 rgba(0,0,0,.3);
	-webkitbox-shadow:2px 2px 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow:2px 2px 2px 0 rgba(0,0,0,.3);
	-o-box-shadow:2px 2px 2px 0 rgba(0,0,0,.3); */
 }
 .cityBar{
	width:119px;
	height: 30px;
	line-height: 30px;
	float: left;
	border:1px solid #e7eaf1;
}
.cityBar img{
	float: right;
    vertical-align: middle;
    margin-top: 5px;
    /* margin-right: 5px; */
    padding: 7px;
}
.toolBar{
	width: auto;
	height: 30px;
	border:1px solid #e7eaf1;
	float:left;
	border-left:0;
}
.toolBar ul li{
	height: 30px;
	line-height: 30px;
	float: left;
	padding: 0px 3px;
	cursor: pointer;
}
.toolBar ul li div{
	padding: 7px 3px;
}
.citySelect{
	width:475px;
	height:36px;
	position: relative;
    z-index: 990;
    background:#fff;
    left:-1px;
    top:1px;
}
.citySelect div cite{margin-right:2px;}

.caseShow{
	width: 473px;
    height: auto;
    border: 1px solid #f2f2f2;
    background:#f3f8ff;
    margin-top: 1px;
    margin-left: -1px;
}
.caseShow div.wlc-parent,.documentList div.wlc-parent{
	background: #fbffff;
}
.caseShow div ul li{
	float:left;
	width:100%;
	border-bottom:1px solid #f2f2f2; 
}
.caseShow div ul li:hover{
	color:#1f7ed0
}
.caseShow div ul li span{
	display:block;
	float:left;
	border-left:1px solid #f2f2f2;
	text-align:center; 
}
.caseShow div ul li span:first-child{
	border-left:0
}
.styleChange{
	width: auto; 
	height: 30px;
	float:left;
}
.colorList{
	width:auto;
	height:34px;
	float:left;
	background-color:#ecf2fc;
	border:1px solid #e7eaf1;
}
.bigColor{
	float:left;
	border:1px solid #e7eaf1;
	margin:1px 1px;
}
.bigColor div{
	/*background-color:#ed3f2b;*/
	width:29px;
	height:29px;
}
.colorSelect{
	float:left;
}
.colorSelect ul li{
	/* border:1px solid #e7eaf1; */
	float: left;
	margin: 1px 1px;
}
.colorSelect ul li div{
	width:15px;
	height:15px;
}
.sizeSelect{
	float:left;
	height: 34px;
	background-color:#ecf2fc;
	border:1px solid #e7eaf1;
}
.sizeSelect ul li{
	float: left;
	width:26px;
	height:auto;
}
.sizeSelect ul li div{
	padding: 7px 3px;
	width:16px;
	height:auto;
}
.sizeSelect ul li div img{
	margin-left: 3px;
}
.toolBarDiv{
	display: inline-block;
    width: 100%;
    background:#fff;
    
}
.toolBarColor{
    margin-left:121px;
	position: relative;
    z-index: 999;
}

.documentList{
	width: 203px;
    height: auto;
    border:1px solid #e7eaf1;
    float: left;
    margin-left: 338px;
	position: absolute;
	z-index: 999;
	box-shadow:2px 2px 2px 0 rgba(0,0,0,.3);
	-webkitbox-shadow:2px 2px 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow:2px 2px 2px 0 rgba(0,0,0,.3);
	-o-box-shadow:2px 2px 2px 0 rgba(0,0,0,.3); 
}
.documentList li{
	width:100%;
	height:30px;
	line-height:30px;
	border-top:1px solid #f2f2f2;
}
.documentList ul li:first-child{
	border-top:0
}
.documentList ul li span{
    /*float: left;*/
	display: inline-block;
    margin-right: 5px;
}
.documentList ul li span:first-child{
	text-align:center;
}
.mapTextSubButton{
	width: 20px;
    height: 20px;
    line-height: 20px;
	position: absolute;
	/* right: -13px; */
	cursor: pointer;
}
.mapTextSubInput{
	height: 18px;
    line-height: 18px;
	position: absolute;
    top: -1px;
	/* right: 36px; */
}
.sureImgDiv{
	position: absolute;
    right: 36px;
}
.textDelete{
	cursor: pointer;
	width: 20px;
    height: 20px;
    position: absolute;
}
.deleteImg{
	position: absolute;
    right: 15px;
}